<div class="wrapper">
    <div id="ticket-approval" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 ticket-approval-form">
        <div class="form-section ticket-section">
            <p class="form-header custom-header">
                Ticket Info
            </p>
            <div class="col-sm-12">
                <div class="user-info">
                    <label>Date: <span class="date-created">{{date}}</span></label>
                    <br>
                    <label class="col-sm-12 left-bar">Contact information</label>
                    <hr style="border-bottom: 1px solid black; padding: 0px; margin: 0px; margin-top: -8px; background-color: transparent;" class="col-sm-12">
                    <br>
                    <div class="contact-info-one col-sm-6 left-bar col-xs-12 left-bar-two">
                        <p>Name: {{contact_firstname}} {{contact_lastname}}</p>
                        <p>Email: {{contact_email}}</p>
                        <p>Alt Email: {{contact_altemail}}</p>
                    </div>
                    <div class="contact-info-two col-sm-6 left-bar right-bar col-xs-12">
                        <p>Phone: {{contact_phone}}</p>
                        <p>Mobile: {{contact_mobile}}</p>
                        <p>Alt Phone: {{contact_altphone}}</p>
                    </div>
                    <label class="col-sm-12 left-bar">Detail Information</label>
                    <hr style="border-bottom: 1px solid black; padding: 0px; margin: 0px; margin-top: -8px; background-color: transparent;" class="col-sm-12">
                    <br>
                    <div class="contact-info-three col-sm-12 left-bar right-bar col-xs-12">
                        <p class="text-info-area">Description: {{issue_description}}</p>
                    </div>
                    <div class="contact-info-five col-sm-12 left-bar right-bar col-xs-12">
                        <p class="text-info-area">Entry Point: {{entry_point}}</p>
                    </div>
                    <div class="contact-info-four col-sm-12 left-bar right-bar col-xs-12">
                        <p>Pet: {{pet}}</p>
                    </div>
                    <div class="col-sm-6 left-bar">
                        <small>Marked locations</small>
                        <div id="marker-area" ng-style="{'background-image':'url(' + floorplan_image + ')'}">
                            <div class="marker-container" ng-bind-html="newMarker">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="button-holder text-center">
            <button ng-click="goBack(next_state);" class="btn btn-default">Go Back</button>
        </div>
    </div>
</div>
