<form id="ticketForm" ng-submit="ticketFunc()" name="ticketForm" role="form" novalidate>
    <div class="form-section ticket-section">
        <p class="form-header custom-header-four">
            Ticket Info
        </p>
        <div class="col-sm-6">
            <div class="user-info">
                <label>Date: <span class="date-created">{{formData.date}}</span></label>
                <br>
                <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two" ng-class="{ 'has-error': ticketForm.firstname.$touched && ticketForm.firstname.$invalid }">
                    <label>First Name</label>
                    <input name="firstname" ng-model="formData.firstname" required placeholder="John" type="text" class="form-control" />
                    <div ng-messages="ticketForm.firstname.$error" ng-if="ticketForm.firstname.$touched" role="alert">
                        <p ng-message="required">First Name is required.</p>
                    </div>
                </div>
                <div class="form-group col-sm-6 left-bar right-bar col-xs-12" ng-class="{ 'has-error': ticketForm.lastname.$touched && ticketForm.lastname.$invalid }">
                    <label>Last Name</label>
                    <input name="lastname" ng-model="formData.lastname" required placeholder="Doe" type="text" class="form-control" />
                    <div ng-messages="ticketForm.lastname.$error" ng-if="ticketForm.lastname.$touched" role="alert">
                        <p ng-message="required">Last Name is required.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': ticketForm.email.$touched && ticketForm.email.$invalid }">
                    <label>Email</label>
                    <input name="email" ng-model="formData.email" required multiple placeholder="example@example.com" type="email" class="form-control">
                    <div ng-messages="ticketForm.email.$error" ng-if="ticketForm.email.$touched" role="alert">
                        <p ng-message="required">Email is required.</p>
                        <p ng-message="email">Enter a valid email</p>
                    </div>
                </div>
                <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two" ng-class="{ 'has-error': ticketForm.phone.$touched && ticketForm.phone.$invalid }">
                    <label>Phone</label>
                    <input name="phone" ng-model="formData.phone" required placeholder="555-555-5555" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" type="tel" class="form-control" />
                    <div ng-messages="ticketForm.phone.$error" ng-if="ticketForm.phone.$touched" role="alert">
                        <p ng-message="required">Phone is required.</p>
                        <p ng-message="pattern">Must be a valid 10 digit phone number</p>
                    </div>
                </div>
                <div class="form-group col-sm-6 left-bar right-bar col-xs-12" ng-class="{ 'has-error': ticketForm.mobile.$touched && ticketForm.mobile.$invalid }">
                    <label>Mobile</label>
                    <input name="mobile" ng-model="formData.mobile" placeholder="555-555-5555" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" type="tel" class="form-control" />
                    <div ng-messages="ticketForm.mobile.$error" ng-if="ticketForm.mobile.$touched" role="alert">
                        <p ng-message="pattern">Must be a valid 10 digit phone number</p>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two" ng-class="{ 'has-error': ticketForm.formData.altphone.$touched && ticketForm.formData.altphone.$invalid }">
                <label>Alternate Phone</label>
                <input name="altphone" ng-model="formData.altphone" placeholder="555-555-1234" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" type="tel" class="form-control" />
                <div ng-messages="ticketForm.formData.altphone.$error" ng-if="ticketForm.formData.altphone.$touched" role="alert">
                    <p ng-message="pattern">Must be a valid 10 digit phone number</p>
                </div>
            </div>
            <div class="form-group col-sm-6 left-bar right-bar col-xs-12" ng-class="{ 'has-error': ticketForm.formData.altemail.$touched && ticketForm.formData.altemail.$invalid }">
                <label>Alternate email</label>
                <input name="altemail" ng-model="formData.altemail" placeholder="altexample@example.com" type="altemail" class="form-control">
                <div ng-messages="ticketForm.formData.altemail.$error" ng-if="ticketForm.formData.altemail.$touched" role="alert">
                    <p ng-message="altemail">Enter a valid email</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': ticketForm.formData.desc.$touched && ticketForm.formData.desc.$invalid }">
                <label>Description</label>
                <textarea name="desc" ng-model="formData.desc" ng-change="textFunc()" required placeholder="Describe your problem..." type="text" class="form-control desc-area" maxlength="1000"></textarea>
                <small>{{count}} characters left</small>
                <div ng-messages="ticketForm.formData.desc.$error" ng-if="ticketForm.formData.desc.$touched" role="alert">
                    <p ng-message="required">Enter a description for the ticket</p>
                </div>
            </div>
            <div class="form-group">
                <label>Do you have a pet?</label>
                <md-radio-group ng-model="formData.pet">
                    <md-radio-button value="yes" aria-label="yes">
                        <p>Yes</p>
                    </md-radio-button>
                    <md-radio-button value="no" aria-label="no">
                        <p>No</p>
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div class="form-group" ng-class="{ 'has-error': ticketForm.formData.entry.$touched && ticketForm.formData.entry.$invalid }">
                <label>Entry Point</label>
                <textarea name="entry" ng-model="formData.entry" ng-change="textFuncTwo()" required placeholder="Something we need to know about entry?" type="text" class="form-control" maxlength="240"></textarea>
                <small>{{countTwo}} characters left</small>
                <div ng-messages="ticketForm.formData.entry.$error" ng-if="ticketForm.formData.entry.$touched" role="alert">
                    <p ng-message="required">Entry point description required</p>
                </div>
            </div>
        </div>
        <div id="tab-wrapper" class="col-sm-6">
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Kitchen">
                            <md-content class="md-padding">
                                <h4>Kitchen</h4>
                                <ul class="ticket-checkbox">
                                    <li>
                                        <md-checkbox ng-model="formData.sink" aria-label="formData.sink"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.dishwasher" aria-label="formData.dishwasher"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.stove" aria-label="formData.stove"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.oven" aria-label="formData.oven"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.fridge" aria-label="formData.fridge"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.garbagedisposal" aria-label="formData.garbagedisposal"></md-checkbox>
                                    </li>
                                </ul>
                                <ul class="ticket-list">
                                    <li>Sink</li>
                                    <li>Dishwasher</li>
                                    <li>Stove</li>
                                    <li>Oven</li>
                                    <li>Refrigerator</li>
                                    <li>Garbage Disposal</li>
                                </ul>
                            </md-content>
                        </md-tab>
                        <md-tab label="Bathroom">
                            <md-content class="md-padding">
                                <h4>Bathroom</h4>
                                <ul class="ticket-checkbox">
                                    <li>
                                        <md-checkbox ng-model="formData.bathsink" aria-label="formData.bathsink"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.toilet" aria-label="formData.toilet"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.tub" aria-label="formData.tub"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.shower" aria-label="formData.shower"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.mirror" aria-label="formData.mirror"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.fan" aria-label="formData.fan"></md-checkbox>
                                    </li>
                                </ul>
                                <ul class="ticket-list">
                                    <li>Sink</li>
                                    <li>Toilet</li>
                                    <li>Tub</li>
                                    <li>Shower</li>
                                    <li>Mirror</li>
                                    <li>Fan</li>
                                </ul>
                            </md-content>
                        </md-tab>
                        <md-tab label="Bedroom">
                            <md-content class="md-padding">
                                <h4>Bedroom</h4>
                                <ul class="ticket-checkbox">
                                    <li>
                                        <md-checkbox ng-model="formData.ceilingfan" aria-label="formData.ceilingfan"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.outlet" aria-label="formData.outlet"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.closet" aria-label="formData.closet"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.door" aria-label="formData.door"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.acvent" aria-label="formData.acvent"></md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox ng-model="formData.carpet" aria-label="formData.carpet"></md-checkbox>
                                    </li>
                                </ul>
                                <ul class="ticket-list">
                                    <li>Ceiling Fan</li>
                                    <li>Outlet</li>
                                    <li>Closet</li>
                                    <li>Door</li>
                                    <li>AC Vent</li>
                                    <li>Carpet</li>
                                </ul>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</form>
<div id="marker-area" class="container" ng-click="addMarker($event)">
    <div class="marker-container" ng-bind-html="newMarker">
        <img src="assets/img/tools.jpg" alt="">
    </div>
</div>
