<!DOCTYPE html>
<html ng-app="ticketFixApp">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket Fix</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>
    <script type="text/javascript" src="indexcontroller.js"></script>
    <script type="text/javascript" src="app/components/home/homeController.js"></script>
    <script type="text/javascript" src="app/components/registration/registrationController.js"></script>
    <script type="text/javascript" src="app/components/login/loginController.js"></script>
    <script type="text/javascript" src="app/components/ticket/ticketController.js"></script>
    <script type="text/javascript" src="app/shared/factory.js"></script>
    <script type="text/javascript" src="app/shared/apiAjax.js"></script>
    <script type="text/javascript" src="app/shared/script.js"></script>
    <script type="text/javascript" src="assets/js/front-config.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600|Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body ng-controller="indexController">
    <div id="site-wrapper">
        <div id="scroll-nav" class="my-nav-two text-center">
            <h3 class="arrow-style"><a ng-click="gotoElement('top')"><span class="fa fa-arrow-up"></span></a></h3>
        </div>
        <nav id="top" class="navbar navbar-default top-nav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button ng-click="arrowChange()" type="button" class="navbar-toggle collapsed top-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span ng-show="arrowDown" class="chevron_toggleable glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="arrowUp" class="chevron_toggleable glyphicon glyphicon-chevron-up"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><a href="tel:16781235555"><span class="fa fa-phone"></span>+1-678-123-5555</a></li>
                        <li><a href="mailto:ticketfix@gmail.com"><span class="fa fa-envelope"></span>ticketfix@gmail.com</a></li>
                        <li><a href=""><span class="fa fa-clock-o"></span>Mon-Fri: 9am-6pm</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="loggedIn"><a href="#/profile"><span class="fa fa-user"></span>Profile</a></li>
                        <li ng-if="loggedIn"><a href="">Welcome, {{email}}</a></li>
                        <li ng-if="!loggedIn"><a href="" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li ng-if="!loggedIn"><a href="" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <!-- <li><a href="" title=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                        <li ng-if="!loggedIn" ng-click="toggleSearch()"><a href="" title=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="search-bar" ng-show="showSearchBar">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed main-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ng-click="showLeftNavBtns = true;" class="navbar-brand" href="#/"><img class="ticket-img" src="assets/img/ticketfixlogodraft3.png"><span class="my-brand">icket Fix</span></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul ng-show="showLeftNavBtns" class="nav navbar-nav">
                        <li class=""><a ng-click="gotoElement('about')">About <span class="sr-only">(current)</span></a></li>
                        <li><a ng-click="gotoElement('benefits')">Benefits</a></li>
                        <li><a ng-click="gotoElement('contact')">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--                       ***********  Only shows when not logged in *********** -->
                        <li ng-if="!loggedIn"><a href="#/login">Login</a></li>
                        <!--                       ***********  Tenants Only See *********** -->
                        <li ng-if="loggedIn && userType == 3" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tenant <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Create Ticket</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">Manage Ticket</a></li>
                            </ul>
                        </li>
                        <li ng-if="loggedIn && userType == 1" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contractor <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Create Ticket</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">Manage Ticket</a></li>
                            </ul>
                        </li>
                        <li ng-if="!loggedIn" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-click="showLeftNavBtns = false;"><a href="" ng-click="register(3)">Tenant</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-click="showLeftNavBtns = false;"><a href="" ng-click="register(4)">Management</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-click="showLeftNavBtns = false;"><a href="" ng-click="register(1)">Contractor</a></li>
                            </ul>
                        </li>
                        <!--                       ***********  All users see when logged in *********** -->
                        <li ng-if="loggedIn"><a href="#/" ng-click="loggedIn = false;">Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div ui-view></div>
        <!-- <div ng-view></div> -->
    </div>
</body>

</html>
