<!DOCTYPE html>
<html ng-app="ticketFixApp">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket Fix Me</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-sanitize.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>
    <script type="text/javascript" src="indexcontroller.js"></script>
    <script type="text/javascript" src="app/components/home/homeController.js"></script>
    <script type="text/javascript" src="app/components/registration/registrationController.js"></script>
    <script type="text/javascript" src="app/components/login/loginController.js"></script>
    <script type="text/javascript" src="app/components/ticket/ticketController.js"></script>
    <script type="text/javascript" src="app/components/ticket/ticketViewerController.js"></script>
    <script type="text/javascript" src="app/components/admin/adminController.js"></script>
    <script type="text/javascript" src="app/components/manager/managerController.js"></script>
    <script type="text/javascript" src="app/components/contractor/contractorController.js"></script>
    <script type="text/javascript" src="app/shared/factory.js"></script>
    <script type="text/javascript" src="app/shared/apiAjax.js"></script>
    <script type="text/javascript" src="app/shared/script.js"></script>
    <script type="text/javascript" src="assets/js/front-config.js"></script>
    <!-- <script type="text/javascript" src="app/shared/ModalEmailManager.html"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="node_modules/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600|Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/ticketfixme.ico" />
    <link href="https://file.myfontastic.com/J4RrDmaaovdKwnawzZbb7e/icons.css" rel="stylesheet">
</head>

<body ng-controller="indexController">
    <div id="site-wrapper">
        <div id="scroll-nav" class="my-nav-two text-center">
            <h3 class="arrow-style"><a ng-click="gotoElement('top')"><span class="fa fa-arrow-up"></span></a></h3>
        </div>
        <nav id="top" class="navbar navbar-default top-nav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button ng-click="arrowChange()" type="button" class="navbar-toggle collapsed top-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span ng-show="arrowDown" class="chevron_toggleable glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="arrowUp" class="chevron_toggleable glyphicon glyphicon-chevron-up"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><a href="tel:16781235555"><span class="fa fa-phone"></span>+1-678-123-5555</a></li>
                        <li><a href="mailto:hello@ticketfixme.com"><span class="fa fa-envelope"></span>hello@ticketfixme.com</a></li>
                        <li><a href=""><span class="fa fa-clock-o"></span>Mon-Fri: 9am-6pm</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="loggedIn"><a href="#/profile"><span class="fa fa-user"></span>Profile</a></li>
                        <li ng-if="loggedIn"><a href="">Welcome, {{email}}</a></li>
                        <li ng-if="!loggedIn"><a href="" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li ng-if="!loggedIn"><a href="https://twitter.com/ticket_fix" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <!-- <li><a href="" title=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                        <li ng-if="!loggedIn"><a href="" title=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- <div class="search-bar" ng-show="showSearchBar">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </form>
                    </div> -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed main-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ng-click="showLeftNavBtns = true; registrationInProgress=false;" class="navbar-brand" href="#/"><img class="ticket-img" src="assets/img/ticketfixlogodraft3.png"><span class="my-brand">icket Fix Me</span></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul ng-if="home" class="nav navbar-nav">
                        <li class=""><a ng-click="gotoElement('how-it-works')">How it works <span class="sr-only">(current)</span></a></li>
                         <li><a ng-click="gotoElement('services')">Services</a></li>
                        <li><a ng-click="gotoElement('contact')">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--                       ***********  Only shows when not logged in *********** -->
                        <li ng-if="!loggedIn && !registrationInProgress"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <!--                       ***********  Tenants Only See *********** -->
                        <li ng-if="loggedIn && userType == 1" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contractor <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/contractor">Jobs In My Region</a></li>
                            </ul>
                        </li>
                        <li ng-if="loggedIn && userType == 2" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/admin/activity">Activity</a></li>
                                <li role="separator" class="divider"></li>
<!--                                 <li><a href="#/admin/viewtickets">Tickets</a></li>
                                <li role="separator" class="divider"></li> -->
                                <li><a href="#/admin">Tenants</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/admin/viewmanager">Property Managers</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/admin/viewcontractor">Contractors</a></li>
                                 <li role="separator" class="divider"></li>
                                <li><a href="#/admin/viewproperties">Properties</a></li>
                            </ul>
                        </li>
                        <li ng-if="loggedIn && userType == 3" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tenant <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/ticket"><span class="fa fa-ticket"></span>Tickets</a></li>
                            </ul>
                        </li>
                        <li ng-if="loggedIn && userType == 4" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manager <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/manager/tickets"><span class="fa fa-ticket"></span>Manage Tickets</a></li>
                                <li role="separator" class="divider"></li>
                                <!-- <li><a href="#/manager/managetickets"><span class="fa fa-ticket"></span>Manage Tickets</a></li>
                                <li role="separator" class="divider"></li> -->
                                <li><a href="#/manager"><span class="fa fa-home"></span>Properties</a></li>
                            </ul>
                        </li>
                        <li ng-if="!loggedIn && !registrationInProgress" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Register <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-click="showLeftNavBtns = false;"><a href="" ng-click="register(3)"><span class="icon icon-tenant"></span> Tenant</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-click="showLeftNavBtns = false;"><a href="" ng-click="register(4)"><span class="icon icon-manager"></span> Management</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-click="showLeftNavBtns = false;"><a href="" ng-click="register(1)"><span class="icon icon-converted-file-4415a1c9"></span> Contractor</a></li>
                            </ul>
                        </li>
                        <!--                       ***********  All users see when logged in *********** -->
                        <li ng-if="loggedIn"><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div ui-view></div>
        <!-- <div ng-view></div> -->
        <div id="footer">
        <span>
          Ticket Fix Me | All Rights Reserved | &copy; Copyright 2016
        </span>
      </div>
    </div>

    <script type="text/ng-template" id="ModalEmailManager.html">
        <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
            <div class="modal-title">
                <h3>{{modalHeading}}</h3>
                <div class="row">
                    <div class="col-sm-offset-1">
                        <p>
                            {{address1}}&nbsp; {{address2}}
                        </p>
                        <p>
                            {{city}},&nbsp; {{state}}&nbsp; {{zip}}
                        </p>
                        <h5>
                            <strong>Issue Description</strong>
                        </h5>
                    </div>
                    <div class="col-sm-offset-2">
                        <p>
                            <em>{{issue_description}}</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="">
                <label>From</label>
                <input type="email" name="emailAddr" ng-model="emailAddr" placeholder="Email Address" class="form-control shorten">
            </div>
            <div class="">
                <label>Subject</label>
                <input type="text" name="emailSubject" ng-model="emailSubject" placeholder="Email Subject" class="form-control shorten">
            </div>
            <div class="">
                <label>Message</label>
                <textarea rows="10" name="emailBody" ng-model="emailBody" class="form-control"></textarea>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Send Email</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="ModalMessage.html">
        <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
            <div class="modal-title">
                <h3>{{modalHeading}}</h3>
                <div class="row">

                </div>
            </div>
            <div class="modal-body">
                <div class="">
                    <label>Your Name</label>
                    <input type="text" name="emailName" ng-model="emailName" placeholder="John Doe" class="form-control shorten">
                </div>
                <div class="">
                    <label>Your Email</label>
                    <input type="email" name="emailAddr" ng-model="emailAddr" placeholder="Email Address" class="form-control shorten">
                </div>
                <div class="">
                    <label>Subject</label>
                    <input type="text" name="emailSubject" ng-model="emailSubject" placeholder="Email Subject" class="form-control shorten">
                </div>
                <div class="">
                    <label>Message</label>
                    <textarea rows="10" name="emailBody" ng-model="emailBody" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Send Email</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</body>

</html>
