<div class="container">
    <h1 style="margin-top: 50px; margin-bottom: 50px;">Tickets Created Per Day</h1>

    <div class="form-section ticket-section">
        <div>
            <button class="btn btn-primary" ng-click="refresh()">Click To Refresh</button>
        </div>
        <div style="margin-top:10px">
            <canvas id="line" class="chart chart-line"
                chart-data="chartContent.data" chart-labels="chartContent.labels" colours="chartContent.colours"
                chart-legend="true" chart-series="series" chart-hover="onHover"
                chart-click="onClick">
            </canvas>
        </div>
    </div>
</div>
