<!-- Contractor Additional Registration  -->
<div class="text-center">
  <small>This step is optional. Service Regions allows Ticket Fix to notify you of potential jobs in your area</small>
</div>
<div class="" style="border: 1px solid black; margin-top: 15px; border-radius:5px;">
  <p style="font-size: 18px; max-width:154px; margin-top:-10px; margin-left:5px; background:#DDD; padding:0 0 0 1px;">
    Region #1
  </p>
  <div class="inner" style="margin-left: 10px; margin-right:10px;">
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Radius (mi.)</label>
      <input name="contMile1" ng-model="contMile1" placeholder="30" type="number" class="form-control"/>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Zip:</label>
      <input name="contZip1" ng-model="contZip1" placeholder="30310" type="text" class="form-control"/>
    </div>
        <div class="form-group address-one">
      <label>Address</label>
      <input name="contAddress1" ng-model="contAddress1" placeholder="111 Doug Street" type="text" class="form-control">
    </div>
    <div class="form-group  col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>City:</label>
      <input name="contCity1" ng-model="contCity1" placeholder="Atlanta" type="text" class="form-control"/>
    </div>
    <div class="form-group col-sm-4 left-bar right-bar col-xs-12">
      <label>State:</label>
      <input name="contState1" ng-model="contState1" placeholder="Georgia" type="text" class="form-control"/>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div class="" style="border: 1px solid black; margin-top: 15px; border-radius:5px;">
  <p style="font-size: 18px; max-width:154px; margin-top:-10px; margin-left:5px; background:#DDD; padding:0 0 0 1px;">
    Region #2
  </p>
  <div class="inner" style="margin-left: 10px; margin-right:10px;">
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Radius (mi.)</label>
      <input name="contMile2" ng-model="contMile2" placeholder="30" type="number" class="form-control"/>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Zip:</label>
      <input name="contZip2" ng-model="contZip2" placeholder="30310" type="text" class="form-control"/>
    </div>
        <div class="form-group address-one">
      <label>Address</label>
      <input name="contAddress2" ng-model="contAddress2" placeholder="111 Doug Street" type="text" class="form-control">
    </div>
    <div class="form-group  col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>City:</label>
      <input name="contCity2" ng-model="contCity2" placeholder="Atlanta" type="text" class="form-control"/>
    </div>
    <div class="form-group col-sm-4 left-bar right-bar col-xs-12">
      <label>State:</label>
      <input name="contState2" ng-model="contState2" placeholder="Georgia" type="text" class="form-control"/>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div class="" style="border: 1px solid black; margin-top: 15px; border-radius:5px;">
  <p style="font-size: 18px; max-width:154px; margin-top:-10px; margin-left:5px; background:#DDD; padding:0 0 0 1px;">
    Region #3
  </p>
  <div class="inner" style="margin-left: 10px; margin-right:10px;">
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Radius (mi.)</label>
      <input name="contMile3" ng-model="contMile3" placeholder="30" type="number" class="form-control"/>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Zip</label>
      <input name="contZip3" ng-model="contZip3" placeholder="30310" type="text" class="form-control"/>
    </div>
        <div class="form-group address-one">
      <label>Address</label>
      <input name="contAddress3" ng-model="contAddress3" placeholder="111 Doug Street" type="text" class="form-control">
    </div>
    <div class="form-group  col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>City:</label>
      <input name="contCity3" ng-model="contCity3" placeholder="Atlanta" type="text" class="form-control"/>
    </div>
    <div class="form-group col-sm-4 left-bar right-bar col-xs-12">
      <label>State:</label>
      <input name="contState3" ng-model="contState3" placeholder="Georgia" type="text" class="form-control"/>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div class="col-xs-6 col-xs-offset-3">
  <div class="form-group">
    <div class="button-holder text-center" style="margin-top: 20px;">
      <button type="submit" class="btn btn-default">Sign Up</button>&nbsp;
      <a href="#/">
        <button type="button" class="btn btn-default">Cancel</button>
      </a>
    </div>
  </div>
</div>
