<!-- Contractor Additional Registration  -->
<div class="text-center">
  <small>This step is optional. Service Regions allows Ticket Fix to notify you of potential jobs in your area</small>
</div>
<div class="region-inner">
  <p class="form-header custom-header-four">
    Region #1
  </p>
  <div class="inner">
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Radius (mi.)</label>
      <input name="contMile1" ng-model="formData.contMile1" placeholder="30" type="number" class="form-control"/>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Zip:</label>
      <input name="contZip1" ng-change="zipLookupRegion1()" ng-model="formData.contZip1" placeholder="30310" type="text" class="form-control"/>
    </div>
    <div class="form-group  col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>City:</label>
      <input name="contCity1" ng-model="formData.contCity1" placeholder="Atlanta" type="text" class="form-control"/>
    </div>
    <div class="form-group col-sm-4 left-bar right-bar col-xs-12">
      <label>State:</label>
      <input name="contState1" ng-model="formData.contState1" placeholder="Georgia" type="text" class="form-control"/>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div class="region-inner">
  <p class="form-header custom-header-four">
    Region #2
  </p>
  <div class="inner">
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Radius (mi.)</label>
      <input name="contMile2" ng-model="formData.contMile2" placeholder="30" type="number" class="form-control"/>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Zip</label>
      <input name="contZip2" ng-change="zipLookupRegion2()" ng-model="formData.contZip2" placeholder="30310" type="text" class="form-control"/>
    </div>
    <div class="form-group  col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>City</label>
      <input name="contCity2" ng-model="formData.contCity2" placeholder="Atlanta" type="text" class="form-control"/>
    </div>
    <div class="form-group col-sm-4 left-bar right-bar col-xs-12">
      <label>State</label>
      <input name="contState2" ng-model="formData.contState2" placeholder="Georgia" type="text" class="form-control"/>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div class="region-inner">
  <p class="form-header custom-header-four">
    Region #3
  </p>
  <div class="inner">
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Radius (mi.)</label>
      <input name="contMile3" ng-model="formData.contMile3" placeholder="30" type="number" class="form-control"/>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Zip</label>
      <input name="contZip3" ng-change="zipLookupRegion3()" ng-model="formData.contZip3" placeholder="30310" type="text" class="form-control"/>
    </div>
    <div class="form-group  col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>City</label>
      <input name="contCity3" ng-model="formData.contCity3" placeholder="Atlanta" type="text" class="form-control"/>
    </div>
    <div class="form-group col-sm-4 left-bar right-bar col-xs-12">
      <label>State</label>
      <input name="contState3" ng-model="formData.contState3" placeholder="Georgia" type="text" class="form-control"/>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
  <div class="form-group">
    <div class="button-holder text-center">
      <button type="submit" class="btn btn-default">Sign Up</button>&nbsp;
      <a href="#/">
        <button type="button" class="btn btn-default">Cancel</button>
      </a>
    </div>
  </div>
</div>
