<!-- All users profile information -->
<div class="form-section user-section" style="border: 1px solid black; margin-top: 15px; border-radius:5px;">
  <p style="font-size: 18px; max-width:185px; margin-top:-10px; margin-left:5px; background:#DDD; padding:0 0 0 1px;">
    Your Home Location
  </p>
  <div class="inner" style="margin-left: 10px; margin-right:10px;">
    <div class="form-group" ng-class="{ 'has-error': registerForm.address1.$touched && registerForm.address1.$invalid }">
      <label>Address Line 1</label>
      <input name="address1" ng-model="formData.address1" required placeholder="111 East Main St" type="text" class="form-control">
      <div ng-messages="registerForm.address1.$error" ng-if="registerForm.address1.$touched" role="alert">
        <p ng-message="require">Address Line 1 is required</p>
      </div>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Address Line 2</label>
      <input name="address2" style="max-width:200px;" ng-model="address2" placeholder="Apt 345" type="text" class="form-control">
    </div>

    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two" ng-class="{ 'has-error': registerForm.zip.$touched && registerForm.zip.$invalid }">
        <label>Zip</label>
        <input name="zip"  required ng-model="formData.zip" placeholder="30114" type="text" ng-minlength="5" class="form-control" />
        <div ng-messages="registerForm.zip.$error" ng-if="registerForm.zip.$touched" role="alert">
            <p ng-message="required">Zip is required.</p>
            <p ng-message="minlength">Please enter 5 digits</p>
        </div>
    </div>

    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two" ng-class="{ 'has-error': registerForm.city.$touched && registerForm.city.$invalid }">
        <label>City</label>
        <input name="city" required ng-model="formData.city" placeholder="Atlanta" type="text" class="form-control" />
        <div ng-messages="registerForm.city.$error" ng-if="registerForm.city.$touched" role="alert">
            <p ng-message="required">City is required.</p>
        </div>
    </div>

    <div class="form-group col-sm-6 left-bar right-bar col-xs-12" ng-class="{ 'has-error': registerForm.state.$touched && registerForm.state.$invalid }">
        <label>State</label>
        <input name="state" required ng-model="formData.state" placeholder="Georgia" type="text" class="form-control" />
        <div ng-messages="registerForm.state.$error" ng-if="registerForm.state.$touched" role="alert">
            <p ng-message="required">State is required.</p>
        </div>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="col-xs-6 col-xs-offset-3">
      <div class="form-group">
          <div class="button-holder text-center" style="margin-top: 20px;">
              <button type="submit" class="btn btn-default">Sign Up</button>&nbsp;
              <a href="#/">
                  <button type="button" class="btn btn-default">Cancel</button>
              </a>
          </div>
      </div>
  </div>
</div>
