<!-- All users profile information -->
<div class="form-section floorplan-section">
  <p class="form-header custom-header">
    Select A Floor Plan
  </p>
  <div class="inner">
    <p>
      Select a plan that best matches your floor plan
    </p>
    <md-radio-group ng-model="formData.floorplanGroup">
      <md-radio-button value="1bed1bath" aria-label="1bed1bath">
        <img src="assets/img/floor-plans/1bed1bath.jpg"/>
      </md-radio-button>
      <md-radio-button value="2bed1bath" aria-label="2bed1bath">
        <img src="assets/img/floor-plans/2bed1bath.jpg"/>
      </md-radio-button>
      <md-radio-button value="2bed2bath" aria-label="2bed2bath">
        <img style="width:335px" src="assets/img/floor-plans/2bed2bath.gif"/>
      </md-radio-button>
      <md-radio-button value="3bed2bath" aria-label="3bed2bath">
        <img style="width:335px" src="assets/img/floor-plans/3bed2bath.gif"/>
      </md-radio-button>
      <md-radio-button value="3bed2_5bath" aria-label="3bed2_5bath">
        <img src="assets/img/floor-plans/3bed2_5bath.jpg"/>
      </md-radio-button>
    </md-radio-group>

    <div style="clear:both;"></div>
  </div>
  <div class="col-sm-6 col-xs-10 col-xs-offset-1">
      <div class="form-group">
          <div class="button-holder text-center">
              <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid" ng-click="registerForm.$valid && !registerForm.$pristine">Sign Up</button>&nbsp;
              <a ng-click="cancelRegistration()">
                <button type="button" class="btn btn-default">Cancel</button>
              </a>
          </div>
      </div>
  </div>
</div>
