<div class="register-wrapper wrapper">
      <div id="steps-nav" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a ui-sref-active="active-step" ui-sref=".profile">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            User Profile</a>
        </div>
        <div class="col-sm-3" ng-if="userType == 1 || userType == 4">
          <a ui-sref-active="active-step" ui-sref=".account">
            <i class="fa fa-building" aria-hidden="true"></i>
            Account Setup</a>
        </div>
        <div class="col-sm-3" ng-if="userType == 3">
          <a ui-sref-active="active-step" ui-sref=".unit">
            <i class="fa fa-home" aria-hidden="true"></i>
            Address</a>
        </div>
        <div class="col-sm-3" ng-if="userType == 3">
          <a ui-sref-active="active-step" ui-sref=".floorplan">
            <i class="fa fa-bed" aria-hidden="true"></i>
            Select Floor Plan</a>
        </div>
        <div class="col-sm-3" ng-if="userType == 1">
          <a ui-sref-active="active-step" ui-sref=".regions">
            <i class="glyphicon glyphicon-road" aria-hidden="true"></i>
            Service Regions</a>
        </div>
      </div>
    </div>
  </div>
    <div class="row profile-row">
    </div>
    <div class="row">
        <div class="error-text text-center">
            {{errorMessage}}
        </div>
    </div>
    <div class="row col-lg-4 col-lg-offset-4 col-sm-7 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <form novalidate disable-btn ng-submit="registerFunc()" name="registerForm">
            <div id="form-views" ui-view></div>
        </form>
    </div>
</div>
