<!-- All users profile information -->
<div class="form-section user-section">
  <p class="form-header custom-header-three">
    Your Home Location
  </p>
  <div class="inner">
    <div class="form-group" ng-class="{ 'has-error': registerForm.formData.address1.$touched && registerForm.formData.address1.$invalid }">
      <label>Address Line 1</label>
      <input name="address1" ng-model="formData.formData.address1" required placeholder="111 East Main St" type="text" class="form-control">
      <div ng-messages="registerForm.formData.address1.$error" ng-if="registerForm.formData.address1.$touched" role="alert">
        <p ng-message="require">Address Line 1 is required</p>
      </div>
    </div>
    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
      <label>Address Line 2</label>
      <input name="address2" style="max-width:200px;" ng-model="formData.address2" placeholder="Apt 345" type="text" class="form-control address-line-two">
    </div>

    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two" ng-class="{ 'has-error': registerForm.formData.zip.$touched && registerForm.formData.zip.$invalid }">
        <label>Zip</label>
        <input name="zip" ng-change="zipLookupTenant();" required ng-model="formData.zip" placeholder="30114" type="text" ng-minlength="5" class="form-control" />
        <div ng-messages="registerForm.formData.zip.$error" ng-if="registerForm.formData.zip.$touched" role="alert">
            <p ng-message="required">Zip is required.</p>
            <p ng-message="minlength">Please enter 5 digits</p>
        </div>
    </div>

    <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two" ng-class="{ 'has-error': registerForm.formData.city.$touched && registerForm.formData.city.$invalid }">
        <label>City</label>
        <input name="city" required ng-model="formData.city" placeholder="Atlanta" type="text" class="form-control" />
        <div ng-messages="registerForm.formData.city.$error" ng-if="registerForm.formData.city.$touched" role="alert">
            <p ng-message="required">City is required.</p>
        </div>
    </div>

    <div class="form-group col-sm-6 left-bar right-bar col-xs-12" ng-class="{ 'has-error': registerForm.formData.state.$touched && registerForm.formData.state.$invalid }">
        <label>State</label>
        <input name="state" required ng-model="formData.state" placeholder="Georgia" type="text" class="form-control" />
        <div ng-messages="registerForm.formData.state.$error" ng-if="registerForm.formData.state.$touched" role="alert">
            <p ng-message="required">State is required.</p>
        </div>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <div class="form-group">
          <a ui-sref="register.floorplan" class="btn btn-reg">
            Next
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </a>

      </div>
  </div>
</div>
