<div class="register-wrapper">
    <div class="container col-lg-4 col-lg-offset-4 col-sm-7 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="row">
            <h1 class="text-center">Tenant Registration</h1>
            <p class="text-center">Fill out all needed info</p>
        </div>
        <div class="row">
            <div class="error-text text-center">
                {{errorMessage}}
            </div>
        </div>
        <div class="row">
            <form id="registration" ng-submit="registerFunc()" name="registerForm" role="form" novalidate>
                <div class="form-group" ng-class="{ 'has-error': registerForm.propertycode.$touched && registerForm.propertycode.$invalid }">
                    <label>Property Code:</label>
                    <input ng-change="change()" name="propertycode" required ng-model="propertycode" placeholder="5555" type="text" class="form-control" ng-minlength="4" />
                    <div ng-messages="registerForm.propertycode.$error" ng-if="registerForm.propertycode.$touched" role="alert">
                        <p ng-message="required">Property Code is required.</p>
                        <p ng-message="minlength">Property Code is too short.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input name="email" ng-model="email" placeholder="Doe@ticketfix.com" type="email" class="form-control" />
                    <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched" role="alert">
                        <p ng-message="required">Email is required.</p>
                        <p ng-message="minlength">Email is too short.</p>
                    </div>
                </div>
                <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
                    <label>First Name:</label>
                    <input name="firstname" ng-model="firstname" placeholder="John" type="text" class="form-control" />

                </div>
                <div class="form-group col-sm-6 left-bar right-bar col-xs-12">
                    <label>Last Name:</label>
                    <input name="lastname" ng-model="lastname" placeholder="Doe" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input name="password" ng-model="password" placeholder="6 Character Minimum" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <!--            <label>Repeat Password:</label> -->
                    <input name="password2" ng-model="password2" placeholder="Confirm Password" type="password" class="form-control" />
                </div>
                <div class="form-group col-sm-6 left-bar col-xs-12 left-bar-two">
                    <label>Phone:</label>
                    <input name="telephone" ng-model="phone" placeholder="555-555-5555" type="tel" class="form-control" />
                </div>
                <div class="form-group col-sm-6 left-bar right-bar col-xs-12">
                    <label>Cell: (Optional)</label>
                    <input name="cell" ng-model="mobile" placeholder="555-555-5555" type="tel" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="button-holder text-center" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-default">Register</button>&nbsp;
                        <a href="#/">
                            <button type="button" class="btn btn-default">Cancel</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
