/* line 1, ../../tools/compass/sass/style.scss */
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* line 8, ../../tools/compass/sass/style.scss */
.ticket-btn {
  border-color: transparent;
  background-color: transparent;
}
/* line 11, ../../tools/compass/sass/style.scss */
.ticket-btn .fa {
  padding: 0px;
}
/* line 14, ../../tools/compass/sass/style.scss */
.ticket-btn:hover {
  background-color: transparent;
  border-color: transparent;
}

/* line 20, ../../tools/compass/sass/style.scss */
.steps-space {
  margin-bottom: 10px;
}

/* line 25, ../../tools/compass/sass/style.scss */
.popover-btn .popover-content {
  padding: 9px 5px;
}

/* line 30, ../../tools/compass/sass/style.scss */
.steps-title {
  position: relative;
  top: -70px;
}

/* line 35, ../../tools/compass/sass/style.scss */
.text-info-area {
  white-space: normal !important;
  word-wrap: break-word;
}

/* line 40, ../../tools/compass/sass/style.scss */
ul.ticket-popover-contact {
  list-style-type: none;
  padding-left: 0px;
}

/* line 45, ../../tools/compass/sass/style.scss */
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #0070b8;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}

/* line 56, ../../tools/compass/sass/style.scss */
#social {
  font-size: 40px;
}
/* line 58, ../../tools/compass/sass/style.scss */
#social .fa {
  color: #0070b8;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 61, ../../tools/compass/sass/style.scss */
#social .fa:hover {
  color: #ffd700;
}
/* line 65, ../../tools/compass/sass/style.scss */
#social .fa-twitter {
  padding-right: 35px;
}
/* line 68, ../../tools/compass/sass/style.scss */
#social .fa-facebook {
  padding-right: 35px;
}

/* line 73, ../../tools/compass/sass/style.scss */
#steps-nav {
  background-color: #66c4ff;
  width: 100%;
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}
/* line 81, ../../tools/compass/sass/style.scss */
#steps-nav .row {
  padding-bottom: 10px;
}
/* line 84, ../../tools/compass/sass/style.scss */
#steps-nav .fa {
  padding-top: 13px;
}
/* line 87, ../../tools/compass/sass/style.scss */
#steps-nav .glyphicon {
  padding-top: 13px;
  padding-right: 5px;
}
/* line 91, ../../tools/compass/sass/style.scss */
#steps-nav .active-step {
  color: #ffd700;
}
/* line 94, ../../tools/compass/sass/style.scss */
#steps-nav span.fa.fa-user.active-step-btn {
  color: green;
}
/* line 97, ../../tools/compass/sass/style.scss */
#steps-nav a {
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 100, ../../tools/compass/sass/style.scss */
#steps-nav a:hover {
  text-decoration: none;
}
/* line 103, ../../tools/compass/sass/style.scss */
#steps-nav a .active-step {
  color: #ffd700;
}
/* line 107, ../../tools/compass/sass/style.scss */
#steps-nav a,
#steps-nav a:hover,
#steps-nav a:active,
#steps-nav a:visited {
  text-decoration: none;
}

/* line 115, ../../tools/compass/sass/style.scss */
#steps-nav-two {
  background-color: #66c4ff;
  position: absolute;
  bottom: -100px;
  height: 200px;
  right: 0;
  left: 0;
  height: 100px;
  width: 100%;
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}
/* line 129, ../../tools/compass/sass/style.scss */
#steps-nav-two ul {
  list-style-type: none;
}
/* line 131, ../../tools/compass/sass/style.scss */
#steps-nav-two ul li {
  float: left;
}
/* line 135, ../../tools/compass/sass/style.scss */
#steps-nav-two a {
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 138, ../../tools/compass/sass/style.scss */
#steps-nav-two a:hover {
  text-decoration: none;
}
/* line 141, ../../tools/compass/sass/style.scss */
#steps-nav-two a .active-step {
  color: #ffd700;
}
/* line 145, ../../tools/compass/sass/style.scss */
#steps-nav-two a,
#steps-nav-two a:hover,
#steps-nav-two a:active,
#steps-nav-two a:visited {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  /* line 155, ../../tools/compass/sass/style.scss */
  #steps-nav .non-active {
    display: none;
  }
}
/* line 161, ../../tools/compass/sass/style.scss */
.ticket-section {
  background-color: white;
}

/* line 165, ../../tools/compass/sass/style.scss */
.ticket-section-approval {
  background-color: white;
}

/* line 169, ../../tools/compass/sass/style.scss */
.form-header {
  font-size: 16px;
  max-width: 180px;
  margin-top: -10px;
  margin-left: 10px;
  background: #0070b8;
  padding: 5px 0px;
  border-radius: 15px;
  color: #ffd700;
}

/* line 180, ../../tools/compass/sass/style.scss */
.inner {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 185, ../../tools/compass/sass/style.scss */
#register-wrapper {
  min-height: 600px;
}

/* line 189, ../../tools/compass/sass/style.scss */
.form-section {
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 5px;
}

/* line 195, ../../tools/compass/sass/style.scss */
p.form-header.custom-header {
  padding-left: 20px;
}

/* line 199, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-three {
  padding-left: 10px;
}

/* line 203, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-two {
  padding-left: 8px;
}

/* line 207, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-four {
  padding-left: 45px;
}

/* line 211, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-five {
  padding-left: 50px;
}

/* line 215, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-six {
  padding-left: 60px;
}

/* line 219, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-seven {
  padding-left: 48px;
}

/* line 223, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-eight {
  padding-left: 30px;
}

/* line 227, ../../tools/compass/sass/style.scss */
.region-inner {
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 5px;
  background-color: white;
}

/* line 234, ../../tools/compass/sass/style.scss */
.profile-row {
  margin-top: 15px;
}

/* line 238, ../../tools/compass/sass/style.scss */
.address-line-two {
  max-width: 200px;
}

/* line 242, ../../tools/compass/sass/style.scss */
.button-holder {
  margin-top: 20px;
  margin-bottom: 100px;
}

/* line 247, ../../tools/compass/sass/style.scss */
.navbar-inverse {
  background: white;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}

/* line 255, ../../tools/compass/sass/style.scss */
.navbar {
  min-height: 100px;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 262, ../../tools/compass/sass/style.scss */
.navbar.top-nav {
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 269, ../../tools/compass/sass/style.scss */
body {
  background-color: #f2f2f2;
  background-color: #DDD;
}

/* line 274, ../../tools/compass/sass/style.scss */
#site-wrapper {
  background-color: #DDD;
}

/* line 278, ../../tools/compass/sass/style.scss */
.btn-reg {
  width: 100px;
  margin-top: 10px;
  color: #ffd700;
  background-color: #0070b8;
  border-color: #006eb3;
  margin-bottom: 100px;
}
/* line 285, ../../tools/compass/sass/style.scss */
.btn-reg:hover {
  background-color: #007ecc;
  color: white;
}
/* line 289, ../../tools/compass/sass/style.scss */
.btn-reg .btn-cal {
  margin-right: 5px;
}

/* line 294, ../../tools/compass/sass/style.scss */
.reg-btns {
  width: 300px;
}

/* line 298, ../../tools/compass/sass/style.scss */
.wrapper {
  background-color: #DDD;
}

/* line 302, ../../tools/compass/sass/style.scss */
.account-section,
.user-section {
  background-color: white;
}

/* line 307, ../../tools/compass/sass/style.scss */
html {
  height: 100vh;
  background-color: #DDD;
}

/* line 312, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  color: black;
  color: #ffd700;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}
/* line 320, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ed3031;
  color: white;
}
/* line 325, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:active {
  background-color: transparent;
}

/* line 330, ../../tools/compass/sass/style.scss */
.nav-links {
  font-size: 16px;
  color: black;
  color: #ffd700;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}
/* line 338, ../../tools/compass/sass/style.scss */
.nav-links:hover {
  color: #ed3031;
  color: white;
}
/* line 343, ../../tools/compass/sass/style.scss */
.nav-links:active {
  background-color: transparent;
}

@font-face {
  font-family: "Montserrat", sans-serif !important;
}
/* line 4, ../compass/sass/_font.scss */
/* line 355, ../../tools/compass/sass/style.scss */
body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
}

/* line 360, ../../tools/compass/sass/style.scss */
.container-fluid.carousel-fluid {
  padding: 0px;
}

/* line 364, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ed3031;
  color: #fff;
  background-color: transparent;
}

/* line 372, ../../tools/compass/sass/style.scss */
body,
html {
  /* -webkit-tap-highlight-color: transparent; */
  -webkit-touch-callout: none;
  /* min-height: 100%; */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: grayscale;
}

/* line 383, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand {
  color: black;
  color: white;
}
/* line 386, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand:hover {
  color: #ed3031;
  color: #ffd700;
}

/* line 393, ../../tools/compass/sass/style.scss */
.ticket-img {
  width: 60px;
  height: 60px;
  float: left;
  position: relative;
  top: -10px;
}

/* line 401, ../../tools/compass/sass/style.scss */
.my-brand {
  position: relative;
  left: -5px;
  top: 23px;
  font-size: 20px;
}

/* line 408, ../../tools/compass/sass/style.scss */
#home-wrapper {
  min-height: 500px;
  background-color: black;
}

/* line 413, ../../tools/compass/sass/style.scss */
.overlay-carousel {
  text-align: center;
  position: absolute;
  z-index: 100;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
}

/* line 423, ../../tools/compass/sass/style.scss */
.banner-why {
  text-transform: uppercase;
  margin-top: 50px;
}

/* line 428, ../../tools/compass/sass/style.scss */
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  display: none;
}

/* line 435, ../../tools/compass/sass/style.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* line 440, ../../tools/compass/sass/style.scss */
.carousel-indicators li {
  display: none;
}

/* line 444, ../../tools/compass/sass/style.scss */
#home-wrapper-two {
  min-height: 600px;
  margin-top: 30px;
}
/* line 447, ../../tools/compass/sass/style.scss */
#home-wrapper-two .container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 451, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.left-panel {
  padding-left: 0px;
}
/* line 454, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.right-panel {
  padding-right: 0px;
}

/* line 459, ../../tools/compass/sass/style.scss */
.content {
  min-height: 600px;
}

/* line 465, ../../tools/compass/sass/style.scss */
.main-content {
  border: 1px solid #e7e7e7;
  min-height: 500px;
  margin-top: 25px;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: left;
  margin-bottom: 25px;
}
/* line 473, ../../tools/compass/sass/style.scss */
.main-content img {
  vertical-align: middle;
  margin-top: 15px;
  border: 2px solid #0070b8;
}

/* line 480, ../../tools/compass/sass/style.scss */
.col-sm-6.left-bar {
  padding-left: 0px;
}

/* line 484, ../../tools/compass/sass/style.scss */
.col-sm-6.right-bar {
  padding-right: 0px;
}

/* line 488, ../../tools/compass/sass/style.scss */
.col-sm-12.left-bar {
  padding-left: 0px;
}

/* line 492, ../../tools/compass/sass/style.scss */
.col-sm-12.right-bar {
  padding-right: 0px;
}

@media screen and (max-width: 767px) {
  /* line 498, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.left-panel {
    padding-left: 15px;
  }
  /* line 501, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.right-panel {
    padding-right: 15px;
  }

  /* line 505, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 102.5%;
  }

  /* line 508, ../../tools/compass/sass/style.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffd700;
    text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 512, ../../tools/compass/sass/style.scss */
  .divider {
    display: none;
  }

  /* line 515, ../../tools/compass/sass/style.scss */
  .search-bar {
    display: none;
  }

  /* line 518, ../../tools/compass/sass/style.scss */
  .fa.fa-search {
    display: none;
  }
}
/* line 523, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

/* line 527, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
  background-color: #ffd700;
}

/* line 532, ../../tools/compass/sass/style.scss */
#services {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 539, ../../tools/compass/sass/style.scss */
#services h1 {
  padding-top: 10px;
}

/* line 544, ../../tools/compass/sass/style.scss */
#services .down-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 1;
}

/* line 556, ../../tools/compass/sass/style.scss */
#services-wrapper {
  margin-top: 50px;
}

/* line 560, ../../tools/compass/sass/style.scss */
#how-it-works {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 567, ../../tools/compass/sass/style.scss */
#how-it-works h1 {
  padding-top: 10px;
}

/* line 572, ../../tools/compass/sass/style.scss */
.btn-how-it-works {
  text-transform: uppercase;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  background-color: #0070b8;
}

/* line 579, ../../tools/compass/sass/style.scss */
.how-btn-container {
  position: relative;
  font-size: 12px;
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  float: left;
}
/* line 585, ../../tools/compass/sass/style.scss */
.how-btn-container .fa {
  padding-top: 15px;
  font-size: 50px;
}

/* line 593, ../../tools/compass/sass/style.scss */
.how-icon-container {
  width: 200px;
  height: 200px;
  background-color: green;
  color: white;
  border-radius: 50%;
  font-size: 60px;
  line-height: 200px;
}

/* line 603, ../../tools/compass/sass/style.scss */
img.img-responsive.how-img {
  margin-bottom: 20px;
}

/* line 611, ../../tools/compass/sass/style.scss */
#how-it-works .down-arrow-two {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48.7%;
  bottom: -15px;
  z-index: 2;
}

/* line 623, ../../tools/compass/sass/style.scss */
.textarea-style {
  min-height: 100px;
}

@media screen and (max-width: 2560px) {
  /* line 628, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 49.1%;
  }
}
@media screen and (max-width: 2560px) {
  /* line 634, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 49.1%;
  }
}
@media screen and (max-width: 1920px) {
  /* line 640, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 48.8%;
  }
}
@media screen and (max-width: 1440px) {
  /* line 646, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 48.4%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 652, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 47.7%;
  }

  /* line 656, ../../tools/compass/sass/style.scss */
  .why-ticket-wrapper h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  /* line 666, ../../tools/compass/sass/style.scss */
  .why-ticket-wrapper h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  /* line 674, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 44.7%;
  }

  /* line 678, ../../tools/compass/sass/style.scss */
  .why-ticket-wrapper h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 376px) {
  /* line 687, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 43.7%;
  }

  /* line 691, ../../tools/compass/sass/style.scss */
  .why-ticket-wrapper h4 {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 698, ../../tools/compass/sass/style.scss */
  #how-it-works .down-arrow-two {
    left: 42.7%;
  }

  /* line 702, ../../tools/compass/sass/style.scss */
  .why-ticket-wrapper h4 {
    font-size: 10px;
  }
}
/* line 708, ../../tools/compass/sass/style.scss */
#contact {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 715, ../../tools/compass/sass/style.scss */
#contact h1 {
  padding-top: 10px;
}

/* line 720, ../../tools/compass/sass/style.scss */
#contact .down-arrow-three {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 3;
}

/* line 732, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* line 736, ../../tools/compass/sass/style.scss */
.navbar-toggle.top-toggle {
  float: left;
  left: 48%;
  border-radius: 40%;
}

/* line 742, ../../tools/compass/sass/style.scss */
.navbar-toggle.main-nav {
  margin-top: 30px;
}

/* line 746, ../../tools/compass/sass/style.scss */
i.fa.fa-twitter {
  font-size: 25px;
}

/* line 750, ../../tools/compass/sass/style.scss */
i.fa.fa-facebook {
  font-size: 22px;
  padding-top: 1px;
}

/* line 755, ../../tools/compass/sass/style.scss */
i.fa.fa-instagram {
  font-size: 23px;
  padding-top: 1px;
}

/* line 760, ../../tools/compass/sass/style.scss */
i.fa.fa-search {
  font-size: 22px;
}

/* line 764, ../../tools/compass/sass/style.scss */
.fa {
  padding-right: 5px;
}

/* line 768, ../../tools/compass/sass/style.scss */
form.navbar-form {
  z-index: 100;
  position: absolute;
  bottom: -70px;
  right: auto;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  border-color: black;
  min-width: 265px;
  right: auto;
  margin-left: auto;
}

/* line 782, ../../tools/compass/sass/style.scss */
#services-wrapper {
  min-height: 600px;
}

/* line 786, ../../tools/compass/sass/style.scss */
#how-info {
  min-height: 550px;
}

/* line 790, ../../tools/compass/sass/style.scss */
#how-info {
  margin-top: 200px;
  color: #333333;
}
/* line 793, ../../tools/compass/sass/style.scss */
#how-info h3 {
  color: #333333;
}
/* line 796, ../../tools/compass/sass/style.scss */
#how-info small {
  color: #333333;
}

/* line 801, ../../tools/compass/sass/style.scss */
#contact-wrapper {
  min-height: 300px;
  background-color: transparent;
  color: black;
}
/* line 805, ../../tools/compass/sass/style.scss */
#contact-wrapper .fa {
  color: black;
}
/* line 808, ../../tools/compass/sass/style.scss */
#contact-wrapper a {
  color: black;
}

/* line 813, ../../tools/compass/sass/style.scss */
.navbar-right .dropdown-menu {
  right: 0px;
  left: auto;
  top: 98px;
}

@media screen and (max-width: 658px) {
  /* line 820, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 102.8%;
  }
}
@media screen and (max-width: 570px) {
  /* line 826, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.2%;
  }
}
@media screen and (max-width: 500px) {
  /* line 832, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.5%;
  }
}
@media screen and (max-width: 440px) {
  /* line 838, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.8%;
  }
}
@media screen and (max-width: 400px) {
  /* line 844, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 105%;
  }
}
/* line 849, ../../tools/compass/sass/style.scss */
#footer-wrapper {
  min-height: 100px;
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 855, ../../tools/compass/sass/style.scss */
#footer-wrapper h3 {
  line-height: 100px;
}

/* line 860, ../../tools/compass/sass/style.scss */
#site-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

/* line 866, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* line 874, ../../tools/compass/sass/style.scss */
#scroll-nav {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 112, 184, 0.8);
  color: #FFFFFF;
  z-index: 9999;
  display: none;
  width: 50px;
  right: 20px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #007ecc;
}
/* line 888, ../../tools/compass/sass/style.scss */
#scroll-nav span.fa.fa-arrow-up {
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 13px;
  top: 11px;
}

/* line 897, ../../tools/compass/sass/style.scss */
md-tabs-canvas {
  background-color: #007ecc;
  background-color: white;
}

/* line 902, ../../tools/compass/sass/style.scss */
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
  color: #ffd700;
  background-color: #ffd700;
}

/* line 908, ../../tools/compass/sass/style.scss */
md-tabs.md-default-theme .md-tab.md-active,
md-tabs .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-active md-icon,
md-tabs .md-tab.md-active md-icon,
md-tabs.md-default-theme .md-tab.md-focused,
md-tabs .md-tab.md-focused,
md-tabs.md-default-theme .md-tab.md-focused md-icon,
md-tabs .md-tab.md-focused md-icon {
  color: #ffd700;
  background-color: #007ecc;
  border: 1px solid #006eb3;
}

/* line 922, ../../tools/compass/sass/style.scss */
md-tabs.md-default-theme .md-tab,
md-tabs .md-tab {
  color: white;
  border: 1px solid #007ecc;
  border-radius: 5px 5px 0 0;
  background-color: #008ee6;
}

/* line 930, ../../tools/compass/sass/style.scss */
.carousel-inner .item {
  height: 600px;
}

/* line 934, ../../tools/compass/sass/style.scss */
.carousel-caption {
  height: 300px;
  width: 300px;
  background-color: green;
  margin-bottom: 100px;
  border: 1px solid black;
}

/* line 942, ../../tools/compass/sass/style.scss */
md-radio-button.md-default-theme ._md-on,
md-radio-button ._md-on {
  background-color: #007ecc;
}

/* line 947, ../../tools/compass/sass/style.scss */
md-radio-button.md-default-theme.md-checked ._md-off,
md-radio-button.md-checked ._md-off {
  border-color: #007ecc;
}

/* line 952, ../../tools/compass/sass/style.scss */
md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
  color: #ffd700;
}

/* line 957, ../../tools/compass/sass/style.scss */
.ticket-list {
  float: left;
  list-style-type: none;
}
/* line 960, ../../tools/compass/sass/style.scss */
.ticket-list li {
  padding-bottom: 16px;
}

/* line 965, ../../tools/compass/sass/style.scss */
.ticket-checkbox {
  list-style-type: none;
  float: left;
}

/* line 970, ../../tools/compass/sass/style.scss */
md-checkbox.md-default-theme.md-checked ._md-icon,
md-checkbox.md-checked ._md-icon {
  background-color: #007ecc;
}

/* line 975, ../../tools/compass/sass/style.scss */
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 985, ../../tools/compass/sass/style.scss */
.nav-tabs > li > a {
  background-color: #f00;
}

/* line 989, ../../tools/compass/sass/style.scss */
.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

/* line 997, ../../tools/compass/sass/style.scss */
.date-created {
  color: #269900;
  font-weight: 100;
}

/* line 1002, ../../tools/compass/sass/style.scss */
#marker-area {
  width: 300px;
  height: 300px;
  padding: 0px;
  position: relative;
  margin-bottom: 10px;
}

/* line 1010, ../../tools/compass/sass/style.scss */
.marker-container {
  position: relative;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid black;
  border-radius: 5px;
}

/* line 1020, ../../tools/compass/sass/style.scss */
.desc-area {
  min-height: 100px;
}

/* line 1024, ../../tools/compass/sass/style.scss */
.remove-btn {
  margin-bottom: 10px;
}

/* line 1028, ../../tools/compass/sass/style.scss */
.permission-form {
  margin-top: 20px;
  margin-left: 20px;
}

/* line 1033, ../../tools/compass/sass/style.scss */
.row.title-move-right {
  padding-left: 15px;
}

/* line 1037, ../../tools/compass/sass/style.scss */
.ticket-divider {
  border-top: 2px solid #007ecc;
  border-radius: 5px;
}
