/* line 1, ../../tools/compass/sass/style.scss */
.navbar-inverse {
  background: white;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}

/* line 10, ../../tools/compass/sass/style.scss */
.navbar {
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: 0px;
}

/* line 17, ../../tools/compass/sass/style.scss */
body {
  background-color: #f2f2f2;
  background-color: #DDD;
}

/* line 22, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  color: black;
  color: #ffd700;
}
/* line 26, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ed3031;
  color: white;
}
/* line 31, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:active {
  background-color: transparent;
}

@font-face {
  font-family: "Montserrat", sans-serif;
}
/* line 4, ../compass/sass/_font.scss */
/* line 40, ../../tools/compass/sass/style.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* line 45, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ed3031;
  color: #fff;
  background-color: transparent;
}

/* line 51, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand {
  color: black;
  color: white;
}
/* line 54, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand:hover {
  color: #ed3031;
  color: #ffd700;
}

/* line 61, ../../tools/compass/sass/style.scss */
.ticket-img {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  top: -15px;
}

/* line 69, ../../tools/compass/sass/style.scss */
.my-brand {
  position: relative;
  left: -5px;
  top: 11px;
}

/* line 76, ../../tools/compass/sass/style.scss */
#home-wrapper {
  min-height: 500px;
}

/* line 96, ../../tools/compass/sass/style.scss */
#home-wrapper-two {
  min-height: 600px;
  margin-top: 30px;
}
/* line 99, ../../tools/compass/sass/style.scss */
#home-wrapper-two .container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 103, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.left-panel {
  padding-left: 0px;
}
/* line 106, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.right-panel {
  padding-right: 0px;
}

/* line 111, ../../tools/compass/sass/style.scss */
.content {
  min-height: 600px;
}

/* line 119, ../../tools/compass/sass/style.scss */
.test {
  border: 2px dotted black;
  min-height: 445px;
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  /* line 127, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.left-panel {
    padding-left: 15px;
  }
  /* line 130, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.right-panel {
    padding-right: 15px;
  }
}
/* line 137, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
