/* line 1, ../../tools/compass/sass/style.scss */
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* line 8, ../../tools/compass/sass/style.scss */
#steps-nav {
  background-color: #66c4ff;
  height: 40px;
  width: 100%;
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}
/* line 17, ../../tools/compass/sass/style.scss */
#steps-nav .fa {
  padding-top: 13px;
}
/* line 20, ../../tools/compass/sass/style.scss */
#steps-nav .glyphicon {
  padding-top: 13px;
  padding-right: 5px;
}
/* line 24, ../../tools/compass/sass/style.scss */
#steps-nav .active-step {
  color: #ffd700;
}
/* line 27, ../../tools/compass/sass/style.scss */
#steps-nav a {
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 30, ../../tools/compass/sass/style.scss */
#steps-nav a:hover {
  text-decoration: none;
}
/* line 33, ../../tools/compass/sass/style.scss */
#steps-nav a .active-step {
  color: #ffd700;
}
/* line 37, ../../tools/compass/sass/style.scss */
#steps-nav a,
#steps-nav a:hover,
#steps-nav a:active,
#steps-nav a:visited {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  /* line 47, ../../tools/compass/sass/style.scss */
  #steps-nav .non-active {
    display: none;
  }
}
/* line 53, ../../tools/compass/sass/style.scss */
.ticket-section {
  background-color: white;
}

/* line 57, ../../tools/compass/sass/style.scss */
.form-header {
  font-size: 16px;
  max-width: 180px;
  margin-top: -10px;
  margin-left: 10px;
  background: #0070b8;
  padding: 5px 0px;
  border-radius: 15px;
  color: #ffd700;
}

/* line 68, ../../tools/compass/sass/style.scss */
.inner {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 73, ../../tools/compass/sass/style.scss */
#register-wrapper {
  min-height: 600px;
}

/* line 77, ../../tools/compass/sass/style.scss */
.form-section {
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 5px;
}

/* line 83, ../../tools/compass/sass/style.scss */
p.form-header.custom-header {
  padding-left: 20px;
}

/* line 87, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-three {
  padding-left: 10px;
}

/* line 91, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-two {
  padding-left: 8px;
}

/* line 95, ../../tools/compass/sass/style.scss */
p.form-header.custom-header-four {
  padding-left: 45px;
}

/* line 99, ../../tools/compass/sass/style.scss */
.region-inner {
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 5px;
  background-color: white;
}

/* line 106, ../../tools/compass/sass/style.scss */
.profile-row {
  margin-top: 15px;
}

/* line 110, ../../tools/compass/sass/style.scss */
.address-line-two {
  max-width: 200px;
}

/* line 114, ../../tools/compass/sass/style.scss */
.button-holder {
  margin-top: 20px;
  margin-bottom: 100px;
}

/* line 119, ../../tools/compass/sass/style.scss */
.navbar-inverse {
  background: white;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}

/* line 127, ../../tools/compass/sass/style.scss */
.navbar {
  min-height: 100px;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 134, ../../tools/compass/sass/style.scss */
.navbar.top-nav {
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 141, ../../tools/compass/sass/style.scss */
body {
  background-color: #f2f2f2;
  background-color: #DDD;
}

/* line 146, ../../tools/compass/sass/style.scss */
#site-wrapper {
  background-color: #DDD;
}

/* line 150, ../../tools/compass/sass/style.scss */
.btn-reg {
  width: 100px;
  margin-top: 10px;
  color: #ffd700;
  background-color: #0070b8;
  border-color: #006eb3;
  margin-bottom: 100px;
}
/* line 157, ../../tools/compass/sass/style.scss */
.btn-reg:hover {
  background-color: #007ecc;
  color: white;
}
/* line 161, ../../tools/compass/sass/style.scss */
.btn-reg .btn-cal {
  margin-right: 5px;
}

/* line 166, ../../tools/compass/sass/style.scss */
.reg-btns {
  width: 300px;
}

/* line 170, ../../tools/compass/sass/style.scss */
.wrapper {
  background-color: #DDD;
}

/* line 174, ../../tools/compass/sass/style.scss */
.account-section,
.user-section {
  background-color: white;
}

/* line 179, ../../tools/compass/sass/style.scss */
html {
  height: 100vh;
  background-color: #DDD;
}

/* line 184, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  color: black;
  color: #ffd700;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}
/* line 192, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ed3031;
  color: white;
}
/* line 197, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:active {
  background-color: transparent;
}

/* line 202, ../../tools/compass/sass/style.scss */
.nav-links {
  font-size: 16px;
  color: black;
  color: #ffd700;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}
/* line 210, ../../tools/compass/sass/style.scss */
.nav-links:hover {
  color: #ed3031;
  color: white;
}
/* line 215, ../../tools/compass/sass/style.scss */
.nav-links:active {
  background-color: transparent;
}

@font-face {
  font-family: "Montserrat", sans-serif !important;
}
/* line 4, ../compass/sass/_font.scss */
/* line 227, ../../tools/compass/sass/style.scss */
body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
}

/* line 232, ../../tools/compass/sass/style.scss */
.container-fluid.carousel-fluid {
  padding: 0px;
}

/* line 236, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ed3031;
  color: #fff;
  background-color: transparent;
}

/* line 244, ../../tools/compass/sass/style.scss */
body,
html {
  /* -webkit-tap-highlight-color: transparent; */
  -webkit-touch-callout: none;
  /* min-height: 100%; */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: grayscale;
}

/* line 255, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand {
  color: black;
  color: white;
}
/* line 258, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand:hover {
  color: #ed3031;
  color: #ffd700;
}

/* line 265, ../../tools/compass/sass/style.scss */
.ticket-img {
  width: 60px;
  height: 60px;
  float: left;
  position: relative;
  top: -10px;
}

/* line 273, ../../tools/compass/sass/style.scss */
.my-brand {
  position: relative;
  left: -5px;
  top: 23px;
  font-size: 20px;
}

/* line 280, ../../tools/compass/sass/style.scss */
#home-wrapper {
  min-height: 500px;
}

/* line 284, ../../tools/compass/sass/style.scss */
#home-wrapper-two {
  min-height: 600px;
  margin-top: 30px;
}
/* line 287, ../../tools/compass/sass/style.scss */
#home-wrapper-two .container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 291, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.left-panel {
  padding-left: 0px;
}
/* line 294, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.right-panel {
  padding-right: 0px;
}

/* line 299, ../../tools/compass/sass/style.scss */
.content {
  min-height: 600px;
}

/* line 305, ../../tools/compass/sass/style.scss */
.main-content {
  border: 1px solid #e7e7e7;
  min-height: 500px;
  margin-top: 25px;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: left;
}
/* line 312, ../../tools/compass/sass/style.scss */
.main-content img {
  vertical-align: middle;
  margin-top: 15px;
  border: 2px solid #0070b8;
}

/* line 319, ../../tools/compass/sass/style.scss */
.col-sm-6.left-bar {
  padding-left: 0px;
}

/* line 323, ../../tools/compass/sass/style.scss */
.col-sm-6.right-bar {
  padding-right: 0px;
}

@media screen and (max-width: 767px) {
  /* line 329, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.left-panel {
    padding-left: 15px;
  }
  /* line 332, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.right-panel {
    padding-right: 15px;
  }

  /* line 336, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 102.5%;
  }

  /* line 339, ../../tools/compass/sass/style.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffd700;
    text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 343, ../../tools/compass/sass/style.scss */
  .divider {
    display: none;
  }

  /* line 346, ../../tools/compass/sass/style.scss */
  .search-bar {
    display: none;
  }

  /* line 349, ../../tools/compass/sass/style.scss */
  .fa.fa-search {
    display: none;
  }
}
/* line 354, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

/* line 358, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
  background-color: #ffd700;
}

/* line 363, ../../tools/compass/sass/style.scss */
#services {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 370, ../../tools/compass/sass/style.scss */
#services h1 {
  padding-top: 10px;
}

/* line 375, ../../tools/compass/sass/style.scss */
#services .down-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 1;
}

/* line 387, ../../tools/compass/sass/style.scss */
#services-wrapper {
  margin-top: 50px;
}

/* line 391, ../../tools/compass/sass/style.scss */
#benefits {
  padding-top: 30px;
}

/* line 395, ../../tools/compass/sass/style.scss */
#about {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 402, ../../tools/compass/sass/style.scss */
#about h1 {
  padding-top: 10px;
}

/* line 407, ../../tools/compass/sass/style.scss */
#about .down-arrow-two {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 2;
}

/* line 419, ../../tools/compass/sass/style.scss */
#contact {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 426, ../../tools/compass/sass/style.scss */
#contact h1 {
  padding-top: 10px;
}

/* line 431, ../../tools/compass/sass/style.scss */
#contact .down-arrow-three {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 3;
}

/* line 443, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* line 455, ../../tools/compass/sass/style.scss */
.navbar-toggle.top-toggle {
  float: left;
  left: 48%;
  border-radius: 40%;
}

/* line 461, ../../tools/compass/sass/style.scss */
.navbar-toggle.main-nav {
  margin-top: 30px;
}

/* line 465, ../../tools/compass/sass/style.scss */
i.fa.fa-twitter {
  font-size: 25px;
}

/* line 469, ../../tools/compass/sass/style.scss */
i.fa.fa-facebook {
  font-size: 22px;
  padding-top: 1px;
}

/* line 474, ../../tools/compass/sass/style.scss */
i.fa.fa-instagram {
  font-size: 23px;
  padding-top: 1px;
}

/* line 479, ../../tools/compass/sass/style.scss */
i.fa.fa-search {
  font-size: 22px;
}

/* line 483, ../../tools/compass/sass/style.scss */
.fa {
  padding-right: 5px;
}

/* line 487, ../../tools/compass/sass/style.scss */
form.navbar-form {
  z-index: 100;
  position: absolute;
  bottom: -70px;
  right: auto;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  border-color: black;
  min-width: 265px;
  right: auto;
  margin-left: auto;
}

/* line 501, ../../tools/compass/sass/style.scss */
#about-info,
#services-wrapper {
  min-height: 800px;
}

/* line 506, ../../tools/compass/sass/style.scss */
#contact-wrapper {
  min-height: 300px;
  background-color: white;
}

/* line 511, ../../tools/compass/sass/style.scss */
.navbar-right .dropdown-menu {
  right: 0px;
  left: auto;
  top: 98px;
}

@media screen and (max-width: 658px) {
  /* line 518, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 102.8%;
  }
}
@media screen and (max-width: 570px) {
  /* line 524, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.2%;
  }
}
@media screen and (max-width: 500px) {
  /* line 530, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.5%;
  }
}
@media screen and (max-width: 440px) {
  /* line 536, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.8%;
  }
}
@media screen and (max-width: 400px) {
  /* line 542, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 105%;
  }
}
/* line 547, ../../tools/compass/sass/style.scss */
#footer-wrapper {
  min-height: 100px;
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 553, ../../tools/compass/sass/style.scss */
#footer-wrapper h3 {
  line-height: 100px;
}

/* line 558, ../../tools/compass/sass/style.scss */
#site-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

/* line 564, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* line 572, ../../tools/compass/sass/style.scss */
#scroll-nav {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 112, 184, 0.8);
  color: #FFFFFF;
  z-index: 9999;
  display: none;
  width: 50px;
  right: 20px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #007ecc;
}
/* line 586, ../../tools/compass/sass/style.scss */
#scroll-nav span.fa.fa-arrow-up {
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 13px;
  top: 11px;
}

/* line 595, ../../tools/compass/sass/style.scss */
md-tabs-canvas {
  background-color: #007ecc;
  background-color: #DDD;
}

/* line 600, ../../tools/compass/sass/style.scss */
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
  color: #ffd700;
  background-color: #ffd700;
}

/* line 606, ../../tools/compass/sass/style.scss */
md-tabs.md-default-theme .md-tab.md-active,
md-tabs .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-active md-icon,
md-tabs .md-tab.md-active md-icon,
md-tabs.md-default-theme .md-tab.md-focused,
md-tabs .md-tab.md-focused,
md-tabs.md-default-theme .md-tab.md-focused md-icon,
md-tabs .md-tab.md-focused md-icon {
  color: #ffd700;
  background-color: #007ecc;
  border: 1px solid #006eb3;
}

/* line 620, ../../tools/compass/sass/style.scss */
md-tabs.md-default-theme .md-tab,
md-tabs .md-tab {
  color: white;
  border: 1px solid #007ecc;
  border-radius: 5px 5px 0 0;
  background-color: #008ee6;
}

/* line 628, ../../tools/compass/sass/style.scss */
.carousel-inner .item {
  height: 500px;
}

/* line 632, ../../tools/compass/sass/style.scss */
md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
  color: #ffd700;
}

/* line 637, ../../tools/compass/sass/style.scss */
.ticket-list {
  float: left;
  list-style-type: none;
}
/* line 640, ../../tools/compass/sass/style.scss */
.ticket-list li {
  padding-bottom: 16px;
}

/* line 645, ../../tools/compass/sass/style.scss */
.ticket-checkbox {
  list-style-type: none;
  float: left;
}

/* line 650, ../../tools/compass/sass/style.scss */
md-checkbox.md-default-theme.md-checked ._md-icon,
md-checkbox.md-checked ._md-icon {
  background-color: #007ecc;
}

/* line 655, ../../tools/compass/sass/style.scss */
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 665, ../../tools/compass/sass/style.scss */
.nav-tabs > li > a {
  background-color: #f00;
}

/* line 669, ../../tools/compass/sass/style.scss */
.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007ecc;
  color: white;
}

/* line 677, ../../tools/compass/sass/style.scss */
#marker-area {
  width: 560px;
  height: 400px;
  padding: 0px;
  margin-top: 50px;
}
