/* line 1, ../../tools/compass/sass/style.scss */
#steps-nav {
  background-color: #66c4ff;
  height: 40px;
  width: 100%;
  color: white;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}
/* line 10, ../../tools/compass/sass/style.scss */
#steps-nav .fa {
  padding-top: 13px;
}
/* line 13, ../../tools/compass/sass/style.scss */
#steps-nav .active-step {
  color: #ffd700;
}

@media screen and (max-width: 767px) {
  /* line 20, ../../tools/compass/sass/style.scss */
  #steps-nav .non-active {
    display: none;
  }
}
/* line 26, ../../tools/compass/sass/style.scss */
.navbar-inverse {
  background: white;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  border-radius: none;
  border: none;
}

/* line 34, ../../tools/compass/sass/style.scss */
.navbar {
  min-height: 100px;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 41, ../../tools/compass/sass/style.scss */
.navbar.top-nav {
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}

/* line 48, ../../tools/compass/sass/style.scss */
body {
  background-color: #f2f2f2;
  background-color: #DDD;
}

/* line 53, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  color: black;
  color: #ffd700;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}
/* line 61, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ed3031;
  color: white;
}
/* line 66, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:active {
  background-color: transparent;
}

@font-face {
  font-family: "Montserrat", sans-serif;
}
/* line 4, ../compass/sass/_font.scss */
/* line 78, ../../tools/compass/sass/style.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* line 83, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ed3031;
  color: #fff;
  background-color: transparent;
}

/* line 91, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand {
  color: black;
  color: white;
}
/* line 94, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-brand:hover {
  color: #ed3031;
  color: #ffd700;
}

/* line 101, ../../tools/compass/sass/style.scss */
.ticket-img {
  width: 60px;
  height: 60px;
  float: left;
  position: relative;
  top: -10px;
}

/* line 109, ../../tools/compass/sass/style.scss */
.my-brand {
  position: relative;
  left: -5px;
  top: 23px;
  font-size: 20px;
}

/* line 116, ../../tools/compass/sass/style.scss */
#home-wrapper {
  min-height: 500px;
}

/* line 120, ../../tools/compass/sass/style.scss */
#home-wrapper-two {
  min-height: 600px;
  margin-top: 30px;
}
/* line 123, ../../tools/compass/sass/style.scss */
#home-wrapper-two .container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 127, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.left-panel {
  padding-left: 0px;
}
/* line 130, ../../tools/compass/sass/style.scss */
#home-wrapper-two .col-sm-6.right-panel {
  padding-right: 0px;
}

/* line 135, ../../tools/compass/sass/style.scss */
.content {
  min-height: 600px;
}

/* line 141, ../../tools/compass/sass/style.scss */
.main-content {
  border: 1px solid #e7e7e7;
  min-height: 500px;
  margin-top: 25px;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: left;
}
/* line 148, ../../tools/compass/sass/style.scss */
.main-content img {
  vertical-align: middle;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 15px;
}

/* line 157, ../../tools/compass/sass/style.scss */
.col-sm-6.left-bar {
  padding-left: 0px;
}

/* line 161, ../../tools/compass/sass/style.scss */
.col-sm-6.right-bar {
  padding-right: 0px;
}

@media screen and (max-width: 767px) {
  /* line 167, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.left-panel {
    padding-left: 15px;
  }
  /* line 170, ../../tools/compass/sass/style.scss */
  #home-wrapper-two .col-sm-6.right-panel {
    padding-right: 15px;
  }

  /* line 174, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 102.5%;
  }

  /* line 177, ../../tools/compass/sass/style.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffd700;
    text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 181, ../../tools/compass/sass/style.scss */
  .divider {
    display: none;
  }

  /* line 184, ../../tools/compass/sass/style.scss */
  .search-bar {
    display: none;
  }

  /* line 187, ../../tools/compass/sass/style.scss */
  .fa.fa-search {
    display: none;
  }
}
/* line 192, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

/* line 196, ../../tools/compass/sass/style.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
  background-color: #ffd700;
}

/* line 201, ../../tools/compass/sass/style.scss */
#services {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 208, ../../tools/compass/sass/style.scss */
#services h1 {
  padding-top: 10px;
}

/* line 213, ../../tools/compass/sass/style.scss */
#services .down-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 1;
}

/* line 225, ../../tools/compass/sass/style.scss */
#services-wrapper {
  margin-top: 50px;
}

/* line 229, ../../tools/compass/sass/style.scss */
#benefits {
  padding-top: 30px;
}

/* line 233, ../../tools/compass/sass/style.scss */
#about {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 240, ../../tools/compass/sass/style.scss */
#about h1 {
  padding-top: 10px;
}

/* line 245, ../../tools/compass/sass/style.scss */
#about .down-arrow-two {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 2;
}

/* line 257, ../../tools/compass/sass/style.scss */
#contact {
  position: relative;
  background-color: #0070b8;
  box-shadow: 0 0 0.5rem rgba(83, 78, 76, 0.5);
  min-height: 100px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
}
/* line 264, ../../tools/compass/sass/style.scss */
#contact h1 {
  padding-top: 10px;
}

/* line 269, ../../tools/compass/sass/style.scss */
#contact .down-arrow-three {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0070b8;
  position: absolute;
  left: 48%;
  bottom: -20px;
  z-index: 3;
}

/* line 281, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* line 293, ../../tools/compass/sass/style.scss */
.navbar-toggle.top-toggle {
  float: left;
  left: 48%;
  border-radius: 40%;
}

/* line 299, ../../tools/compass/sass/style.scss */
.navbar-toggle.main-nav {
  margin-top: 30px;
}

/* line 303, ../../tools/compass/sass/style.scss */
i.fa.fa-twitter {
  font-size: 25px;
}

/* line 307, ../../tools/compass/sass/style.scss */
i.fa.fa-facebook {
  font-size: 22px;
  padding-top: 1px;
}

/* line 312, ../../tools/compass/sass/style.scss */
i.fa.fa-instagram {
  font-size: 23px;
  padding-top: 1px;
}

/* line 317, ../../tools/compass/sass/style.scss */
i.fa.fa-search {
  font-size: 22px;
}

/* line 321, ../../tools/compass/sass/style.scss */
.fa {
  padding-right: 5px;
}

/* line 325, ../../tools/compass/sass/style.scss */
form.navbar-form {
  z-index: 100;
  position: absolute;
  bottom: -70px;
  right: auto;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  border-color: black;
  min-width: 265px;
  right: auto;
  margin-left: auto;
}

/* line 339, ../../tools/compass/sass/style.scss */
#about-info,
#services-wrapper {
  min-height: 800px;
}

/* line 344, ../../tools/compass/sass/style.scss */
#contact-wrapper {
  min-height: 300px;
  background-color: white;
}

/* line 349, ../../tools/compass/sass/style.scss */
.navbar-right .dropdown-menu {
  right: 0px;
  left: auto;
  top: 98px;
}

@media screen and (max-width: 658px) {
  /* line 356, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 102.8%;
  }
}
@media screen and (max-width: 570px) {
  /* line 362, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.2%;
  }
}
@media screen and (max-width: 500px) {
  /* line 368, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.5%;
  }
}
@media screen and (max-width: 440px) {
  /* line 374, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 103.8%;
  }
}
@media screen and (max-width: 400px) {
  /* line 380, ../../tools/compass/sass/style.scss */
  .col-xs-12.left-bar-two {
    width: 105%;
  }
}
/* line 385, ../../tools/compass/sass/style.scss */
#footer-wrapper {
  min-height: 100px;
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 391, ../../tools/compass/sass/style.scss */
#footer-wrapper h3 {
  line-height: 100px;
}

/* line 396, ../../tools/compass/sass/style.scss */
#site-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

/* line 402, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* line 410, ../../tools/compass/sass/style.scss */
#scroll-nav {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 112, 184, 0.8);
  color: #FFFFFF;
  z-index: 9999;
  display: none;
  width: 50px;
  right: 20px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #007ecc;
}
/* line 424, ../../tools/compass/sass/style.scss */
#scroll-nav span.fa.fa-arrow-up {
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(51, 51, 51, 0.71), 0 -1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 13px;
  top: 11px;
}

/* line 433, ../../tools/compass/sass/style.scss */
.carousel-inner .item {
  height: 500px;
}

/* line 437, ../../tools/compass/sass/style.scss */
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}
