<div class="container">
    <h1 style="margin-top: 50px; margin-bottom: 50px;">TENANTS</h1>
    <div class="form-section ticket-section">
        <p class="form-header custom-header-four">
            All Tenants
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Mobile</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tenant in tenants">
                        <td>{{tenant.first_name}}</td>
                        <td>{{tenant.last_name}}</td>
                        <td>{{tenant.email}}</td>
                        <td>{{tenant.home_phone}}</td>
                        <td>{{tenant.mobile_phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
