<div id="home-wrapper" class="container" ng-controller="homeController">
  <!-- <div class="my-carousel">
        <uib-carousel active="1" interval="5000" no-wrap="false">
            <uib-slide index="0">
                <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
            <uib-slide index="1">
                <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
            <uib-slide index="2">
                <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
            <uib-slide index="3">
               <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
            <uib-slide index="4">
                <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
            <uib-slide index="5">
               <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
            <uib-slide index="6">
                <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
            <uib-slide index="7">
                <img src="property.jpg"> -->
  <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
  <!--             </uib-slide>
        </uib-carousel>
    </div> -->
<!-- </div> -->
<div id="services" class="container-fluid">
  <h1 class="text-center">Our Services</h1>
  <div class="down-arrow"></div>
</div>
<div id="services-wrapper" class="container">
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="col-sm-12 main-content">
        <img src="assets/img/property.jpg" alt="" style="width: 300px; height: 200px;">
        <h2>Property Owners </h2>
        <p>Maintain the maintenance of your properties with easy.</p>
        <h4>Management Service</h4>
        <p>You own properties? Check out what we can do for you to keep organized with maintenace for your tenants.</p>
        <a  href="" ng-click="register(4)" title="">Get Started Today!</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12 main-content">
        <img src="assets/img/tools.jpeg" alt="" style="width: 300px; height: 200px;">
        <h2>Contractors</h2>
        <p>Fill jobs that are needed for property owners.</p>
        <a href="" ng-click="register(1)" title="">Get Started Today!</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12 main-content">
        <img src="assets/img/family.jpg" alt="" style="width: 300px; height: 200px;">
        <h2>Tenants</h2>
        <p>Speed up the process to get something fix in your home, easy way to track and set appointments for maintenance.</p>
        <h4>Need something fix?</h4>
        <p>Need to create a ticket?<a href="" ng-click="register(3)" title="">
            Sign up now!</a>
        </p>
        <p>Already have an account?<a href="#/login" title="">
            Login!</a>
        </p>
      </div>
    </div>
  </div>
  <div id="benefits">
    <h2>Benefits</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi obcaecati similique dolore praesentium tempora quis harum repellat repellendus, error, eius fuga asperiores facere voluptas veritatis. Accusamus vitae odio consectetur, saepe! Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ipsam, minima. Quasi fugit magnam enim nam corporis incidunt officiis magni. Nemo doloremque, nam, repellendus numquam neque temporibus ipsum praesentium perferendis.</p>
  </div>
</div>
<div id="about" class="container-fluid">
  <h1 class="text-center">About Us</h1>
  <div class="down-arrow-two"></div>
</div>
<div id="about-info" class="container">
  <h1 class="text-center">About us info!!!!!</h1>
</div>
<div id="contact" class="container-fluid">
  <h1 class="text-center">Contact Us</h1>
  <div class="down-arrow-three"></div>
</div>
<div id="contact-wrapper" class="container-fluid"></div>
  </div>
