<!-- ng-controller="homeController" -->
<div id="home-wrapper" class="container panel panel-default">
    <div class="col-sm-4">
        <div class="col-sm-12 test">
            Content 1
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-12 test">
            Content 2
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-12 test">
            Content 3
        </div>
    </div>
</div>
<div id="home-wrapper-two">
    <div class="container">
        <div class="col-sm-6 left-panel">
            <div class="ten-content col-sm-12 content panel panel-default">
                Content 5
            </div>
        </div>
        <div class="col-sm-6 right-panel">
            <div class="management-content col-sm-12 content panel panel-default">
                Content 6
            </div>
        </div>
    </div>
</div>
