<div id="home-view" ng-controller="homeController">
    <div id="home-wrapper" class="container-fluid carousel-fluid">
        <div class="overlay-carousel">
            <div class="banner-why">
                <h1>Why choose ticket fix me?</h1>
            </div>
            <div class="container">
                <div class="col-lg-3 col-md-4  col-xs-6 why-ticket-wrapper">
                    <img class="img-responsive why-img" src="assets/img/tenant1.png" alt="">
                    <div class="tenant-why why">
                        <h5>For the Tenant</h5>
                        <small>Make reporting a problem and tracking through resolution simpler and convenient</small>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4  col-xs-6 why-ticket-wrapper">
                    <img class="img-responsive why-img" src="assets/img/manager1.png" alt="">
                    <div class="manager-why why">
                        <h5>For the Property Owner/Manager</h5>
                        <small>Increase tenant loyalty<br>
                        Great for owners without a maintenance staff!</small>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4  col-xs-6 why-ticket-wrapper">
                    <img class="img-responsive why-img" src="assets/img/contractor1.png" alt="">
                    <div class="contractor-why why">
                        <h5>For the Contractor</h5>
                        <small>Expand network<br> Increase revenue</small>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4  col-xs-6 why-ticket-wrapper">
                    <img class="img-responsive why-img" src="assets/img/organized1.png" alt="">
                    <div class="organized-why why">
                        <h5>Keep organized</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-carousel">
            <uib-carousel active="0" interval="5000" no-wrap="false">
                <uib-slide index="0">
                    <img src="assets/img/carousel/apartment3.jpg">
                </uib-slide>
                <uib-slide index="1">
                    <img src="assets/img/carousel/condo.jpg">
                </uib-slide>
                <uib-slide index="2">
                    <img src="assets/img/carousel/townhouse.jpg">
                </uib-slide>
                <uib-slide index="3">
                    <img src="assets/img/carousel/house.jpg">
                </uib-slide>
                <uib-slide index="4">
                    <img src="assets/img/carousel/repair.jpg">
                </uib-slide>
                <uib-slide index="5">
                    <img src="assets/img/carousel/repair2.jpg">
                </uib-slide>
                <uib-slide index="6">
                    <img src="assets/img/carousel/blueprint.jpg">
                </uib-slide>
                <uib-slide index="7">
                    <img src="assets/img/carousel/apartment2.jpg">
                </uib-slide>
            </uib-carousel>
        </div>
    </div>
    <div id="services" class="container-fluid">
        <h1 class="text-center">Our Services</h1>
        <div class="down-arrow"></div>
    </div>
    <div id="services-wrapper" class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="col-sm-12 main-content">
                    <img class="img-responsive img-thumbnail" src="assets/img/carousel/property.jpg" alt="">
                    <h2>Property Owners</h2>
                    <p>You own or manage properties? Check out what we can do for you to keep organized with maintenance for your tenants.</p>
                    <a href="" ng-click="register(4)" title="">Get Started Today!</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-12 main-content">
                    <img class="img-responsive img-thumbnail" src="assets/img/tools.jpg" alt="">
                    <h2>Contractors</h2>
                    <p>Get instant notification for potential jobs in your area! Keep your employees busy</p>
                    <a href="" ng-click="register(1)" title="">Get Started Today!</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-12 main-content">
                    <img class="img-responsive img-thumbnail" src="assets/img/family.jpg" alt="">
                    <h2>Tenants</h2>
                    <p>Speed up the process to get something fixed in your home. ticketfixme.com offers an easy way to request maintenance and track your request.</p>
                    <a href="" ng-click="register(3)" title="">Get Started Today!</a>
                </div>
            </div>
        </div>
    </div>
    <div id="how-it-works" class="container-fluid">
        <h1 class="text-center">How It Works</h1>
        <div class="down-arrow-two"></div>
        <div id="steps-nav-two" class="container-fluid">
            <div class="container">
                <div class="text-center">
                    <div class="how-btn-container active col-sm-4 col-xs-4">
                        <a href="" ng-click="changeSteps(1)">
                            <span ng-class="{ 'active-step-two': tenantStep }" class="fa fa-user"></span>
                            <p ng-class="{ 'active-step-two': tenantStep }">Tenant</p>
                        </a>
                    </div>
                    <div class="how-btn-container col-sm-4 col-xs-4">
                        <a href="" ng-click="changeSteps(2)">
                            <span ng-class="{ 'active-step-two': managerStep }" class="fa fa-home"></span>
                            <p ng-class="{ 'active-step-two': managerStep }">Property Owner</p>
                        </a>
                    </div>
                    <div class="how-btn-container col-sm-4 col-xs-4">
                        <a href="" ng-click="changeSteps(3)" ng-class="{ 'active-step': managerStep }">
                            <span ng-class="{ 'active-step-two': contractorStep }" class="fa fa-wrench"></span>
                            <p ng-class="{ 'active-step-two': contractorStep }">Contractor</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="how-info" class="container text-center">
        <!--         <h1 class="steps-title">{{stepsMessage}}</h1> -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div ng-show="tenantStep" class="tenant-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons.png" alt="">
                <h4>Sign up with Ticket Fix Me!</h4>
            </div>
            <div ng-show="managerStep" class="manager-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons1acc.png" alt="">
                <h4>Create an account with Ticket Fix Me!</h4>
            </div>
            <div ng-show="contractorStep" class="contrator-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons1acc.png" alt="">
                <h4>Create an account with Ticket Fix Me!</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div ng-show="tenantStep" class="tenant-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons2.png" alt="">
                <h4>Create a ticket!</h4>
            </div>
            <div ng-show="managerStep" class="manager-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons2regprop.png" alt="">
                <h4>Register your properties!</h4>
            </div>
            <div ng-show="contractorStep" class="contrator-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons2regservice.png" alt="">
                <h4>Register your service regions!</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div ng-show="tenantStep" class="tenant-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons3.png" alt="">
                <h4>Notify You!</h4>
                <small>The Property Manager or the Contractor!</small>
            </div>
            <div ng-show="managerStep" class="manager-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons3manage.png" alt="">
                <h4>Manage your tickets!</h4>
            </div>
            <div ng-show="contractorStep" class="contrator-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons3contractor.png" alt="">
                <h4>Ticket Fix Me will notify you with jobs!</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div ng-show="tenantStep" class="tenant-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons4.png" alt="">
                <h4>Track your ticket!</h4>
            </div>
            <div ng-show="managerStep" class="manager-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons4hire.png" alt="">
                <h4>Hire Contractor or source internally!</h4>
            </div>
            <div ng-show="contractorStep" class="contrator-steps steps-space">
                <img class="img-responsive how-img" src="assets/img/howtoicons4pay.png" alt="">
                <h4>Do the work & get paid!</h4>
            </div>
        </div>
    </div>
    <div id="about" class="container-fluid">
        <h1 class="text-center">About Us</h1>
        <div class="down-arrow-four"></div>
    </div>
    <div id="about-wrapper" class="container-fluid">
        <div id="about-section" class="container">
            <h3>About Ticket Fix Me</h3>
            <br>
            <p>In 2016, amidst all the software and sites available to the world, we identified a serious gap: nothing existed that would adequately handle maintenance requests for a small to medium sized business. Ticket systems do exist but they are either enterprise level tools or generic, free tools. Enterprise systems are incredibly costly and complex. Free, generic ticketing systems are not specific enough to effectively manage a specific problem, which leads to customization and therefore complexity. Ticketfixme is our answer. It provides a centralized website for tenants, managers, owners, and contractors to communicate from the beginning to the end of a maintenance request.</p>
            <p>This is positive for all parties:
                <br> <span class="bullet">•</span> The tenant has a straightforward, detailed site to log their requests.
                <br> <span class="bullet">•</span> Management can monitor these requests, issue them to a handyman or contractor through a biddingprocess, and communicate with the tenant until the process is complete. Management can also scale the business by building a network of contractors. That is, if there is one request or hundreds, management can rely on a potentially limitless network rather than a static number of employees.
                <br> <span class="bullet">•</span> The handyman/contractor can build a rapport with a business while building his own business. </p>
            <p>All the while, each stage of the process is in plain view to all. We are excited to provide this valuable service to all varieties of rental housing as well as handymen and contractors. Pricing information for housing entities is available on request. ​
            </p><br>
            <p>The ticketfixme.com Team</p>
        </div>
    </div>
    <div id="contact" class="container-fluid">
        <h1 class="text-center">Contact</h1>
        <div class="down-arrow-three"></div>
    </div>
    <div id="contact-wrapper" class="container-fluid">
        <div id="contact-section" class="container">
            <div class="row">
                <div id="information" class="col-md-3">
                    <h3>Contact Info</h3>
                    <p><strong>Ticket Fix Me Inc</strong></p>
                    <p><span class="fa fa-globe"></span> Atlanta, GA</p>
                    <p><a href="tel:16781235555"><span class="fa fa-phone"></span>+1-678-123-5555</a></p>
                    <p><a href="mailto:hello@ticketfixme.com"><span style="color: #333;" class="fa fa-envelope"></span> hello@ticketfixme.com</a></p>
                    <h3>Contact Us</h3>
                    <button ng-click="activateEmailModal()" style="width:100px;" type="button" class="btn btn-default"><span style="color: #333;" class="fa fa-envelope text-center"></span></button>
                </div>
                <div class="col-md-3 founders">
                    <h3 class="col-md-offset-2 col-md-8 founders-info">Founder</h3>
                    <div class="col-md-offset-2 col-md-8 image-founders">
                        <img class="img-responsive img-thumbnail" src="assets/img/curtis.jpg" alt="">
                    </div>
                    <div class="col-md-offset-2 col-md-8 text-left founders-info">
                        <small>Founder: Curtis Jenkins</small>
                        <br>
                        <small>Website: <a href="http://curtisjenkins.net/" title="">curtisjenkins.net</a></small>
                        <br>
                        <small><a href="https://www.linkedin.com/in/curtisljenkins"><i class="fa fa-linkedin-square"></i></a></small>
                        <small><a href="https://github.com/curtjenk"><i class="fa fa-github"></i></a></small>
                    </div>
                    <!--                     <div class="col-md-8 image-founders">
                        <img class="img-responsive img-thumbnail" src="assets/img/josh.jpg" alt="">
                    </div>
                    <div class="col-md-8 founders-info text-left">
                        <small>Founder: Joshua Ciaralli</small>
                        <br>
                        <small>Website: <a href="http://www.ciaralli.com/#/" title="">ciaralli.com</a></small>
                        <br>
                        <small><a href="https://www.linkedin.com/in/jciaralli"><i class="fa fa-linkedin-square"></i></a></small>
                        <small><a href="https://twitter.com/jciarallij"><i class="fa fa-twitter"></i></a></small>
                        <small><a href="https://github.com/jciarallij"><i class="fa fa-github"></i></a></small>
                    </div> -->
                </div>
                <div class="col-md-3 founders">
                    <h3 class="col-md-offset-1 col-md-8 founders-info">Founder</h3>
                    <div class="col-md-offset-1 col-md-8 image-founders">
                        <img class="img-responsive img-thumbnail" src="assets/img/josh.jpg" alt="">
                    </div>
                    <div class="col-md-offset-1 col-md-8 founders-info text-left">
                        <small>Founder: Joshua Ciaralli</small>
                        <br>
                        <small>Website: <a href="http://www.ciaralli.com/#/" title="">ciaralli.com</a></small>
                        <br>
                        <small><a href="https://www.linkedin.com/in/jciaralli"><i class="fa fa-linkedin-square"></i></a></small>
                        <small><a href="https://twitter.com/jciarallij"><i class="fa fa-twitter"></i></a></small>
                        <small><a href="https://github.com/jciarallij"><i class="fa fa-github"></i></a></small>
                    </div>
                </div>
                <div id="social" class="col-md-3">
                    <h3>Social Network</h3>
                    <a href="https://twitter.com/ticket_fix"><span class="fa fa-twitter"></span></a>
                    <a href=""><span class="fa fa-facebook"></span></a>
                    <a href=""><span class="fa fa-instagram"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
