<!--     <div class="container">
        <div class="col-lg-4 square-main-content panel panel-default">
            <div class="col-lg-12 col-sm-12">
                Content 1
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-12 main-content panel panel-default">
                    Content 2
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 main-content panel panel-default">
                    Content 3
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 main-content panel panel-default">
                    Content 4
                </div>
            </div>
        </div>
    </div> -->